/*---------container-site-----------*/
#container {
  margin: 0;
  padding: 0;
  width: 100%; }

/*--------fin-container-site-----------*/
/*--------couleur-----------*/
/*-------fin-couleur-----------*/
/*-----------font import----------------*/
@font-face {
  font-family: "Coolvetica";
  /*---------typo pour title----------*/
  src: url("../fonts/coolvetica rg.ttf"); }
@font-face {
  font-family: "GeosansLight";
  /*---------typo pour texte----------*/
  src: url("../fonts/GeosansLight.ttf"); }
/*----------fin-font import----------------*/
/*--------police-----------*/
/*-----------taille police Titre--------------*/
/*-----texte en majuscule------*/
/*----------taille police Article---------------*/
/*-------fin police-----------*/
#Presentation {
  font-family: "Coolvetica";
  background-color: #a3c6f5;
  height: 630px; }
  #Presentation h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 5px; }
  #Presentation div {
    display: flex;
    justify-content: space-around; }
    #Presentation div article {
      margin-top: 105px;
      text-align: center;
      font-size: 20px; }
      #Presentation div article p {
        font-size: 15px; }
  #Presentation #footerPres {
    position: relative;
    bottom: 349px;
    text-align: center; }

@media screen and (min-width: 0px) and (max-width: 992px) {
  #Presentation {
    height: auto; }
    #Presentation div {
      display: block; }
      #Presentation div h3 {
        margin: auto;
        margin-bottom: 10px; } }
/**********partie formation**********/
.titreformation > h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Coolvetica"; }

/******div englobant section formation & langages*****/
.containerFormaLang {
  background-color: #e8edfa; }

.texte {
  font-family: 'GeosansLight';
  text-align: center;
  padding-left: 12%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 3%; }

.texte > p {
  background-color: #a3c6f5;
  padding: 4%;
  text-align: left;
  box-shadow: -20px 15px 0px #71a1e1;
  font-size: 15px; }

.separation {
  border-bottom: 1px solid black;
  margin-left: 10%;
  margin-right: 10%; }

#couleur-langage {
  background-color: #e8edfa;
  padding-bottom: 45px;
  margin-top: -20px; }
  #couleur-langage header {
    border-bottom: 3px solid #71a1e1;
    margin-bottom: 25px;
    margin-right: 25%;
    margin-left: 25%; }
    #couleur-langage header h2 {
      text-align: center;
      padding-bottom: 15px;
      padding-top: 25px;
      font-size: 40px; }
  #couleur-langage h2 {
    font-size: 15px;
    margin-left: 20px;
    font-family: "GeosansLight"; }
  #couleur-langage div {
    display: flex;
    flex-direction: row; }
    #couleur-langage div h3 {
      text-align: center;
      padding-bottom: 40px;
      color: #444444;
      font-family: "GeosansLight";
      font-size: 15px; }
  #couleur-langage article > h3 {
    font-size: 40px; }

#espaceImg > img {
  margin: 1%; }

.langages {
  padding-top: 40px;
  width: 50%;
  border-right: 2px solid #a3c6f5;
  margin-top: 40px; }

.langages > img {
  width: 15%;
  position: relative;
  left: 25%; }

#espaceImg2 > img {
  margin: 1%; }

.outils {
  width: 50%;
  padding-top: 40px;
  margin-top: 40px; }

.outils > img {
  width: 15%;
  position: relative;
  left: 25%; }

#presse {
  background-color: #71a1e1;
  padding-bottom: 50px;
  color: white;
  font-family: "GeosansLight"; }
  #presse h2 {
    text-align: center;
    font-family: "Coolvetica"; }
  #presse h3 {
    text-align: center; }
  #presse #imgPresse {
    display: flex;
    justify-content: space-around; }
    #presse #imgPresse div {
      width: 20%;
      text-align: center;
      background-color: #95baee; }
      #presse #imgPresse div img {
        width: 100%;
        padding: 15px; }
      #presse #imgPresse div p {
        height: auto; }

#sectionPromotion {
  background-color: #e8edf3;
  padding-bottom: 5%; }

.titrePromotion {
  background-color: white; }

h4 {
  /*padding-top: 30px;*/
  padding-bottom: 30px;
  text-align: center; }

#containerPromotion {
  display: flex;
  width: 90%;
  height: auto;
  margin: auto;
  border: 1px solid black;
  justify-content: space-around; }

table, td, th {
  border: 1px solid black;
  text-align: center; }

#profils {
  overflow: hidden;
  width: 400px;
  /*margin-left: 3%;*/
  background-color: #a4c6f4;
  border: 1px solid black; }

#profils div {
  position: absolute;
  display: none; }

#profils div[name="fabrice"] {
  display: block; }

#containerCarouzel {
  overflow: hidden;
  width: 400px;
  height: 500px;
  /*margin-left: 5%;*/ }

#carouzel {
  position: relative;
  transition: top 2s; }

#carouzel div {
  border: 1px solid black;
  width: 400px;
  height: 500px; }

#contact {
  text-align: center;
  font-size: 40px; }

.infos {
  margin-top: 10px; }

.contact {
  padding: 80px 0px 0px 100px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

@media only screen and (max-device-width: 700px) {
  .contact {
    padding: 80px 0px 0px 0px;
    flex-direction: column; } }
.items {
  color: black;
  font-size: 15px;
  text-align: center; }

a {
  text-decoration: none;
  color: black; }

.partenaire {
  border: 1px #fff solid;
  text-align: center; }

.soulignement {
  margin: 10px auto 30px;
  padding: 0;
  max-width: 512px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
  border-color: #71a1e1; }

.soulignement:after {
  display: inline-block;
  position: relative; }

#footerParte {
  margin-top: 20px;
  background-color: #a3c6f5;
  height: 150px; }

#divpartenaire > h2 {
  font-size: 40px; }

h3 {
  font-size: 15px; }

/*# sourceMappingURL=main.css.map */
