/*---------container-site-----------*/
#container {
  margin: 0;
  padding: 0;
  width: 100%; }

/*--------fin-container-site-----------*/
/*--------couleur-----------*/
/*-------fin-couleur-----------*/
/*-----------font import----------------*/
@font-face {
  font-family: "Coolvetica";
  /*---------typo pour title----------*/
  src: url("../fonts/coolvetica rg.ttf"); }
@font-face {
  font-family: "GeosansLight";
  /*---------typo pour texte----------*/
  src: url("../fonts/GeosansLight.ttf"); }
/*----------fin-font import----------------*/
/*--------police-----------*/
/*-----------taille police Titre--------------*/
/*-----texte en majuscule------*/
/*----------taille police Article---------------*/
/*-------fin police-----------*/
#Presentation {
  font-family: "Coolvetica";
  background-color: #a3c6f5;
  height: 630px; }
  #Presentation h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 5px; }
  #Presentation div {
    width: inherit;
    display: flex;
    justify-content: space-around; }
    #Presentation div article {
      margin-top: 105px;
      text-align: center;
      font-size: 20px; }
      #Presentation div article h3 {
        width: 400px; }
  #Presentation #footerPres {
    position: relative;
    bottom: 349px;
    text-align: center; }

/**********partie formation**********/
.titreformation > h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Coolvetica"; }

/******div englobant section formation & langages*****/
.containerFormaLang {
  background-color: #e8edfa; }

.texte {
  font-family: 'GeosansLight';
  text-align: center;
  padding-left: 12%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 3%; }

.texte > p {
  background-color: #a3c6f5;
  padding: 4%;
  text-align: left;
  box-shadow: -20px 15px 0px #71a1e1;
  font-size: 15px; }

.separation {
  border-bottom: 1px solid black;
  margin-left: 10%;
  margin-right: 10%; }

#couleur-langage {
  background-color: #e8edfa;
  padding-bottom: 45px;
  margin-top: -20px; }

#langages {
  border-bottom: 3px solid #71a1e1;
  margin-bottom: 25px;
  margin-right: 25%;
  margin-left: 25%; }

#langages > h2 {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 25px;
  font-size: 40px; }

.titre-langages {
  text-align: center;
  padding-bottom: 40px;
  color: #444444;
  font-family: "GeosansLight";
  font-size: 40px; }

.texte-langages {
  text-align: center;
  color: #444444;
  font-family: "GeosansLight";
  font-size: 15px; }

#espaceImg > img {
  margin: 1%; }

.langages {
  padding-top: 25px;
  width: 50%;
  height: 400px;
  border-right: 2px solid #a3c6f5;
  margin-top: 40px; }

.langages > img {
  width: 15%;
  position: relative;
  left: 170px; }

.outils {
  position: absolute;
  top: 94em;
  right: 0;
  width: 50%;
  height: 400px;
  padding-top: 40px;
  margin-top: 40px; }

.outils > img {
  width: 15%;
  position: relative;
  left: 170px; }

.partenaire {
  border: 1px #fff solid;
  text-align: center; }

.soulignement {
  margin: 10px auto 30px;
  padding: 0;
  max-width: 512px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
  border-color: #71a1e1; }

.soulignement:after {
  display: inline-block;
  position: relative; }

#footerParte {
  margin-top: 20px;
  background-color: #a3c6f5;
  height: 150px; }

#divpartenaire > h2 {
  font-size: 40px; }

h3 {
  font-size: 15px; }

/*# sourceMappingURL=main.css.map */
