#contact{
  text-align: center;
  font-size: 40px;
  }

.infos{
    margin-top: 10px;
  }

.contact {
  padding: 80px 0px 0px 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  list-style: none;
}

@media only screen and (max-device-width: 700px) {
    .contact {
  flex-direction: column;
 }
}

.items {
  color: black;
  font-size: 15px;
 }

a{
  text-decoration: none;
  color: black;
}

#sectionContact > li{
  text-align: center;
  width: 300px;
}
