#Presentation{
  font-family: "Coolvetica";
  background-color:$couleurSecondaire;
  height: 630px;
<<<<<<< HEAD
=======
  padding-top: 60px;

>>>>>>> abe9a8108e0344448b6c76d366f9abaed8c3d369

  h1{
    color: white;
    text-align: center;
    font-size: 40px;
<<<<<<< HEAD
    padding-top: 5px;

  }
=======
    padding-top: 10px;
    padding-bottom: 20px;
  }

>>>>>>> abe9a8108e0344448b6c76d366f9abaed8c3d369
  div{
    display: flex;
    justify-content: space-around;

    article{
      margin-top: 105px;
      text-align: center;
      font-size: 20px;

      p{
        font-size: 15px;
      }
    }
  }
<<<<<<< HEAD
  #footerPres{
    position: relative;
    bottom:349px;
=======

  #footerPres{
    position: relative;
    bottom:420px;
>>>>>>> abe9a8108e0344448b6c76d366f9abaed8c3d369
    text-align: center;
  }
}

@media (min-width:992px) {
//A partir de la taille MD de bootstrap
}
@media screen and(min-width: 0px)and(max-width: 992px){
//de 0px jusqu'a la taille MD de bootstrap
  #Presentation{
    height: auto;
    div{
      display: block;
      h3{
        margin:auto;
        margin-bottom:10px;
      }
    }
  }
}
