#presse{
  background-color: $couleurPrincipale;
  padding-bottom: 50px;
  color: white;
  font-family: "GeosansLight";
  h2{
    text-align: center;
    font-family: "Coolvetica";
  }
  h3{
    text-align: center;
  }
  #imgPresse{
    display: flex;//sur les 3 articles
    justify-content: space-around;
    div{
      width: 20%;
      text-align: center;
      background-color: #95baee;
      img{
        width:100%;  //agit sur toute les imgages de la section Presse
        padding: 15px;
      }
      p{
        height: auto;
      }
    }
  }

}
