#couleur-langage{
  background-color: $couleurBackground;
  padding-bottom: 45px;
  margin-top: -20px;
}


#langages{
  border-bottom: 3px solid $couleurPrincipale;
  margin-left: 380px;
  margin-right: 380px;
  margin-bottom: 25px;
}

.titre-section-langages{
  text-align: center;
  padding-bottom: 15px;
  padding-top: 25px;
  margin-left: -400px;
  margin-right: -400px;
  border-top: 1px solid black;
  font-size: $tailleTitre;
}

.titre-langages{
  text-align: center;
  padding-bottom: 40px;
  color: $couleurTexte;
  font-family: $fontTexte;
  font-size: $tailleTitre;
}

.texte-langages{
  text-align: center;
  color: $couleurTexte;
  font-family: $fontTexte;
  font-size: $tailleArticle;
}

.langages{
  padding-top: 25px;
  width: 50%;
  height: 400px;
  border-right: 2px solid $couleurSecondaire;
  margin-top: 40px;
}

.langages>img{
  width: 15%;
  position: relative;
  left: 170px;
}

.outils{
  position: absolute;
  top: 82em;
  right: 0;
  width: 50%;
  height: 400px;
  padding-top: 40px;
  margin-top: 40px;
}

.outils>img{
  width: 15%;
  position: relative;
  left: 170px;
}
